:root {
    --primario: #d6e4fa;
    --primarioOscuro: #00204a;
    --secundario: #2dabff;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primarioOscuro);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    margin: 0 auto;
    background-color: var(--blanco);
    width: 100%;
    height: 100%;
}
.contenedor2 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
    
    color:var(--primarioOscuro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5%; 
}
h2 {
    font-size: 3.2rem;
    
    
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center; 
}
/** Header **/
.webp .header {
    background-image: url(../img/12.jpg);
}
.no-webp .header {
    background-image: url(../img/10.jpg);
}
.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__logo {
    margin: 3rem 0;
}
/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    color: var(--blanco);
}
/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/** Pagina del Producto **/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
   border: 1rem solid var(--primarioOscuro);
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}
/* Estilos para el carrusel */
.container2 {
    display: flex;
    width: 100%;
    padding: 0 20px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
  
  .gallery__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  .gallery__item {
    position: relative;
    display: flex;
    flex: 1;
    height: 85%;
    color: #fff;
    border-radius: 30px;
    overflow: hidden;
    filter: grayscale(1);
    transition: 0.8s ease-in-out;
    cursor: pointer;
  }
  .gallery__item.--active {
    flex: 5;
    filter: grayscale(0);
  }
  .gallery__item.--active > .gallery__title {
    left: 20px;
    opacity: 1;
    background: rgba(27, 28, 34, 0.2);
    transition: 0.5s ease-in 0.5s;
  }
  .gallery__item:not(:last-child) {
    margin-right: 20px;
  }
  .gallery__item:nth-child(1) {
    background: center/cover no-repeat url("/img/10.jpg");
  }
  .gallery__item:nth-child(2) {
    background: center/cover no-repeat url("/img/999.jpg");
  }
  .gallery__item:nth-child(3) {
    background: center/cover no-repeat url("/img/9999.jpg");
  }
  .gallery__item:nth-child(4) {
    background: center/cover no-repeat url("/img/99999.jpg");
  }
  .gallery__item:nth-child(5) {
    background: center/cover no-repeat url("/img/999.jpg");
  }
  

  .gallery__title {
    position: absolute;
    bottom: 20px;
    left: 5px;
    padding: 5px 10px;
    opacity: 0;
    font-size: 30px;
    border-radius: 5px;
    color:#000;
  }

/* Formulario */
input {
    display: flex;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    /* Aplicar sombra al casillero */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
input[type="submit"],
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 12%;
    box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2);
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    /* Aplicar sombra al casillero */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    resize: none; /* Evitar que el usuario redimensione el textarea */
    pointer-events: none; /* Evitar que el usuario haga clic y arrastre el textarea */
}

  legend {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: var(--primarioOscuro);
    font-weight: bold;
  }
  /* Estilos para el iframe */
  iframe {
    width: 100%; /* Ancho del iframe */
    height: 400px; /* Altura del iframe */
    border: 1px solid #ccc; /* Borde del iframe */
}

  /* Estilos básicos del grid */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px; /* Espacio entre los productos */
    background-color: #00204a;
    padding: 1rem;
    
}

/* Estilos de cada producto */
.product {
    position: relative;
    overflow: hidden;
    background-color: #00204a;
}

.product img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave de zoom */
}

/* Overlay y texto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Negro semi-transparente */
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave de la opacidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product:hover img {
    transform: scale(1.1); /* Hacer zoom al 110% del tamaño original al pasar el mouse */
}

.product:hover .overlay {
    opacity: 1;
}
.Liquidaciones {
    background-color: #00204a;
    color: #ffffff;
}
.Liquidaciones p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase; 
    color: var(--blanco);
    font-family: var(--fuentePrincipal);

}
.Liquidaciones h1{
    color: #FFF;
}

/**footer**/
 /* Estilos para el footer */
 footer {
    background-color: var(--primarioOscuro);
    color: white;
    padding: 20px;
}

/* Estilos para el grid */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas iguales */
    gap: 20px; /* Espacio entre las columnas */
}

/* Estilos para cada columna */
.footer-column {
    text-align: center;
}

/* Estilos para los enlaces */
.footer-link {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

/* Estilos para las redes sociales */
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.social-icons a:hover {
    color: #007bff; /* Cambia a un color azul al pasar el mouse */
}

/* Estilos para el formulario de suscripción */
.subscribe-form {
    text-align: center;
}

 /* Estilos de la cuadrícula */
 .equipo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 20px;
    background-color: var(--primarioOscuro);
}

/* Estilos de cada miembro del equipo */
.equipo-member {
    text-align: center;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(252, 250, 250, 0.1);
    margin-top: 50px;
    background-color: #002A61;

}

.equipo-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto 10px;
}

.equipo-member h3 {
    margin: 0;
    color: #FFF;
}

.equipo-member .redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.redes-sociales a:hover {
    color: #007bff; /* Cambia a un color azul al pasar el mouse */

}
